body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 600px; /* Điều chỉnh độ rộng tối đa của form */
}

.input-group {
    margin-bottom: 7px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="date"],
input[type="number"],
textarea,
select {
    padding: 8px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: 14px;
}

textarea {
    resize: vertical; /* Cho phép thay đổi kích thước theo chiều dọc */
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 3px;
    width: 100%;
    margin-top: 10px;
}

button:hover {
    background-color: #45a049;
}


